/* Algemene stijl */
body {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: Bold, Arial, sans-serif;
  background: #acacacd2; /* lichtgrijs */
  color: #000000; /* zwart */
  padding-top: 110px; /* ruimte voor de vaste header */
  padding-bottom: 100px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #56b3e9c5; /* lichtblauw accent */
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
   border-radius: 8px;
  box-shadow: 0 2px 8px #ffffff;
}


.logo {
  color: white;
  font-size: 20px;
  font-weight: 400;
  transition: transform 0.3s ease;
  flex: 0 0 auto;
}
.logo:hover {
  color: #000000;
  text-shadow: 0 0 2px #000000;
  transform: scale(1.1);
}

span {
  color: #000000;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  flex: 1;
}
.navbar a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: transform 0.3s ease;
  padding: 18px 30px;
}
.navbar a:hover,
.navbar a:focus {
  color: #000000;
  text-shadow: 0 0 2px #000000;
}

.contact {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: transform 0.3s ease;
}

header h1 {
  margin: 0;
}

nav a:hover {
  color: #000000;
  text-shadow: 0 0 2px #000000;
  transform: scale(1.4);
}

nav {
  margin: 0 1rem;
}
nav a {
  color: white;
  margin: 0 6rem;
  text-decoration: none;
  font-weight: bold;
}

section {
   width: 100%;
  height: px;
  padding: 2rem;
  background: #56b3e9c5; /* lichtgrijs */
  border-radius: 30px;
  box-shadow: 0 2px 8px #ffffff;
}

h2 {
  color: #ffffff; /* blauw accent */
}

footer {
  position: fixed;
 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #56b3e9c5; /* lichtblauw accent */
  padding: 15px 0;
  text-align: center;
  background: #56b3e9c5;
  color: #000000;
   border-radius: 8px;
  box-shadow: 0 2px 8px #ffffff;
}

.column {
  float: left;
  width: 70%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Bold, Arial, Helvetica, sans-serif;
}
.gecentreerde-afbeelding {
  display: block;
  margin-left: auto;
  margin-right: auto;
  shape-outside: border-box;
    border-radius: 30px;
  box-shadow: 0 3px 10px #ffffff;
}
/* Float four columns side by side */
.column {
  float: right;
  width: 33.33%;
  padding: 0 10px;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

* {
  box-sizing: border-box;
}

body {
  font-family:Bold, Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}